* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
}

.jumbotron {
    padding-top: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.row {
    font-family: 'Exo 2', sans-serif;
}

.col-md-4 {
    text-align: center;
    font-size: 35px;
}

.col-md-12 {
    text-align: center;
    font-size: 40px;
}

#randomNumber-text {
    font-size: 70px;
}

#totalScore-text {
    font-size: 40px;
}

#result-text {
    font-size: 40px;
}




